<div class="container" ng-controller="Example">
    <div class="jumbotron">
        <div class="container">
            <img class="logo-main" src="images/st-turns-2.png" alt="Standing Theory Turns 2">
        </div>
    </div>
    <div class="container main">
      <div class="row">
        <p class="lead">
          Insert Instagram User ID below:
        </p>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="..." ng-model="userid">
          <div class="input-group-btn">
            <button type="button" class="btn btn-success">Check</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row follower-wrapper">
      <div ng-repeat="f in followers" class="col-sm-6 col-md-4">
        <div class="thumbnail" ng-if="f.username = 'standingtheorycafe'">  
          <img ng-src="{{f.profile_picture}}" class="img-responsive" title="{{f.username}}"> 
          <div class="caption">
            <h5>{{f.full_name}}</h5>
          </div>
        </div>
      </div>
    </div>
</div>