<div ng-controller="stcheckerCtrl">
    <div class="jumbotron">
        <div class="container">
            <img class="logo-main" src="images/st-turns-2.png" alt="Standing Theory Turns 2">
        </div>
    </div>
    <div class="instructions">
      <row>
        <ol>
          <li>
            <p>Go to the <a href="http://jelled.com/instagram/lookup-user-id" target="_blank">Instagram ID Lookup App</a></p>
          </li>
          <li>
            <p>In the Lookup App, type in the user's Instagram username. e.g. standingtheorycafe</p>
          </li>
          <li>
            <p>Copy the ID number that is generated. Come back to this page and paste it below.</p>
          </li>
          <li>
            <p>Remember to <strong>REFRESH</strong> the page before checking the next user.</p>
          </li>
        </ol>
      </row>
    </div>
    <div class="main clearfix">
      <div class="col-sm-12">
        <p class="lead">
          Insert Instagram User ID below:
        </p>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="..." ng-model="userid" val="{{userid}}" ng-value="{{userid}}" id="user_id" name="userid" placeholder="Paste Instagram User ID here">
          <div class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="getMore()">Check</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row follower-wrapper">
      <div ng-repeat="f in followers" class="col-sm-6 col-md-3">
        <div class="thumbnail" ng-if="f.username === 'standingtheorycafe'">  
          <a href="{{f.link}}">
            <img ng-src="{{f.profile_picture}}" class="img-responsive" title="{{f.username}}">
          </a> 
          <div class="caption">
            <h5>{{f.full_name}}</h5>
          </div>
        </div>

        <div class="thumbnail" ng-if="f.username === 'wowmombox'">  
          <img ng-src="{{f.profile_picture}}" class="img-responsive" title="{{f.username}}"> 
          <div class="caption">
            <h5>{{f.full_name}}</h5>
          </div>
        </div>

        <div class="thumbnail" ng-if="f.username === 'threelittlebirdscoffee'">  
          <img ng-src="{{f.profile_picture}}" class="img-responsive" title="{{f.username}}"> 
          <div class="caption">
            <h5>{{f.full_name}}</h5>
          </div>
        </div>

        <div class="thumbnail" ng-if="f.username === 'littleteecakes'">  
          <img ng-src="{{f.profile_picture}}" class="img-responsive" title="{{f.username}}"> 
          <div class="caption">
            <h5>{{f.full_name}}</h5>
          </div>
        </div>
      </div>
    </div>
</div>